

#div_1 {
  background-image:url(header.png);
  margin-top:-8px;
  margin-left:-8px;
  position:absolute;
   height:98px;
  width:680px;
  color:#252F34;
  font-family: Georgia;
}

h1 {
  padding-top:2px;
  margin-left:-235px;
  font-size:31px;
}



#div_2 {
  background-image:url(bar.png);
  position:absolute;
  margin-top:90px;
  height:55px;
  width:680px;
  margin-left:-8px;
}

table.div_2tablealign {
  border-spacing: 70px 0px;
  padding-top:19px;
  margin-left:-65px;
}

table td.div_2font{
  font-family: Arial;
  font-size:85%;
  font-weight:bold;
}



#div_3 {
  background-color:#879D81;
  position:absolute;
  margin-top:145px;
  width:680px;
  height:500px;
  margin-left:-8px;
}

table td.div_3fontMainHeading {
  color:#2C4969;
  padding-top:8px;
  padding-left:22px;;
  font-family:Verdana;
  font-weight:bold;
  font-size:24px;
}

table td.div_3fontchange {
  font-family: Arial;
  font-size:82%;
  color:#212121;
  padding-top:10px;
  padding-left:22px;
}

table.div_3tablealign {
  padding-top:2px;
  margin-left:-335px;
}


a:link {
  color:#252F34;
  background-color:transparent;
  text-decoration:none;
}
a:visited {
  color:#000000;
  background-color:transparent;
  text-decoration:none;
}
a:hover {
  color:#ff0000;
  background-color:transparent;
  text-decoration:underline;
}
a:active {
  color:#ff0000;
  background-color:transparent;
  text-decoration:underline;
}
